<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>รออนุมัติสมาชิก
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding fullscreen>

  <ion-searchbar animated (ionChange)="searchChanged($event)" placeholder='ค้นหา'></ion-searchbar>

  <ion-list>
    <ion-card (click)="presentActionSheet(subscriber.su_id)" *ngFor="let subscriber of subscriberList">
      <ion-card-content>
        <ion-row>
          <ion-col size="11">
            {{subscriber.su_create_date}}
          </ion-col>
          <ion-col size="1">
            <div>
              <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <h4>
              <ion-text color="dark">{{subscriber.su_code}}</ion-text>
            </h4>
          </ion-col>
          <ion-col size="8">
            <p>
              <ion-text color="dark">{{subscriber.pf_name}}{{subscriber.ps_fname}} {{subscriber.ps_lname}}</ion-text>
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>