<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>กำหนดค่าใช้บริการ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="service-fee">
        <ion-icon name="person"></ion-icon>
        <ion-label>การใช้บริการ</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="membership-fee">
        <ion-icon name="people"></ion-icon>
        <ion-label>การสมัครสมาชิก</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
  
</ion-content>