<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Select Month</ion-label>
          <ion-select value="January" okText="Okay" cancelText="Cencel">
            <ion-select-option value="January">January</ion-select-option>
            <ion-select-option value="February">February</ion-select-option>
            <ion-select-option value=" March"> March</ion-select-option>
            <ion-select-option value="May">May</ion-select-option>
            <ion-select-option value="June">June</ion-select-option>
            <ion-select-option value="July">July</ion-select-option>
            <ion-select-option value="August">August</ion-select-option>
            <ion-select-option value="September">September</ion-select-option>
            <ion-select-option value="October">October</ion-select-option>
            <ion-select-option value="November">November</ion-select-option>
            <ion-select-option value="December">December</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-card>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>นางสาวกิตติญา ยังโซ๊ะ</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <ion-label>19/01/2562</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>60160331</div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div>13.40 น.</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>นางสาวกัลยรัตน์ รอดทอง</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <ion-label>19/01/2562</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>60160187</div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div>16.10 น.</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>นางสาวลลิตา เฉินจุณวรรณ</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <ion-label>20/01/2562</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>60160200</div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div>17.20 น.</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>นายวีรพงษ์ สุขสง่าเจริญ</ion-label>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <ion-label>21/01/2562</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>60160113</div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div>17.25 น.</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>