<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History (Admin Mode)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="user-tab">
        <ion-icon name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="admin-tab">
        <ion-icon name="people"></ion-icon>
        <ion-label>Member</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>