<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary">
        <ion-icon slot="start" name="close"></ion-icon> Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      รหัสนิสิต : 60160330 <br>
      นายกัณณภัต เพียรแก้ว <br>
      ชื่อเล่น : บอนน์ &nbsp; อายุ : 21 ปี <br>
      เกิด : 27 พฤศจิกายน 2541 <br>
      ที่อยู่ :  31/39 หมู่ 4 ตำบล/แขวง คลองขุด อำเภอ ท่าใหม่ จังหวัด จันทบุรี รหัสไปรษณีย์ 22120 <br>
      อาชีพ : นักศึกษา <br>
      สถานที่ทำงาน : มหาวิทยาลัยบูรพา <br>
      เบอร์โทรศัพท์ : 0928049258 <br>
      <br>
      ชื่อ-นามสกุล ผู้ติดต่อ : นางสมใจ ใจดี <br>
      เบอร์โทรศัพท์ : 0912345678 <br>
      
    </ion-card-content>
  </ion-card>
</ion-content>
