<ion-content padding>
  <ion-card *ngFor="let membershipFee of membershipFeeList">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>อายุ {{scr_age_min}} ถึง {{scr_age_max}} ปี
            </ion-row>
            <ion-row>อายุ {{scp_age_min}} ถึง {{scp_age_max}} ปี	
            </ion-row>
          </ion-col>

          <ion-col size="4">
            <ion-row>{{scr_cost_min}} บาท
            </ion-row>
            <ion-row>{{scr_cost_max}} บาท</ion-row>
          </ion-col>

          <ion-col size="2" style="display: block; margin: auto;">
            <ion-toggle color="primary"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>