<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2><b>รายชื่อผู้ร้องขอการเป็นสมาชิก</b></h2>
      </ion-label>
    </ion-list-header>

    <ion-card>
      <ion-item>
        <ion-label>60160454
          <br>
          นางสาวสมปอง สมใจ
        </ion-label>

        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>6016767
          <br>
          นางสาวบริพัฒ ตามนา
        </ion-label>
        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>6016555 <br>
          นายอาทม เลื่อมใส่
        </ion-label>
        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label> 6016344
          <br>
          เด็กหญิงลิซ่า ลลิสา
        </ion-label>
        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>6016644 <br>
          เด็กชายมกุลตลา สาริบุน
        </ion-label>
        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>6016898 <br>
          เด็กชายพมพวง ชมชวย
        </ion-label>
        <ion-button [routerLink]="['/register-swm']">
          <ion-icon name="add-circle"> </ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>