<ion-list no-padding no-margin>
  <ion-list-header color="dark">
    <ion-label class="fw700">แจ้งเตือน</ion-label>
  </ion-list-header>

  <ion-item color="primary" class="text-10">
    <ion-icon name="mail" color="light"></ion-icon>
    <ion-label>สมัครสมาชิกใหม่ตอนนี้ลด 25%
    </ion-label>
  </ion-item>

  <ion-item color="light" class="text-10">
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>ค่าใช้บริการสมาชิกใหม่รับส่วนลด 15% ต่อเดือน!
    </ion-label>
  </ion-item>

  <ion-item color="light" class="text-10">
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>ค่าใช้บริการสมาชิกใหม่รับส่วนลด 10% ต่อเดือน!</ion-label>
  </ion-item>

  <ion-item color="primary" class="text-10">
    <ion-icon name="mail" color="light"></ion-icon>
    <ion-label>สมัครสมาชิกใหม่ตอนนี้ลด 25%</ion-label>
  </ion-item>

</ion-list>