<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เกี่ยวกับ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card style="background-color: white;">
    <img src="assets/img/home.jpg">
    <ion-card-header>
      <ion-card-title>ศูนย์นันทนาการ (Recreation Center)</ion-card-title>
      <ion-card-subtitle>
        <ion-text color="black"><b>ข้อมูลสระว่ายน้ำ</b></ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      สระว่ายน้ำขนาดมาตรฐานเพื่อบริการประชาชน สามารถเข้าใช้บริการได้ทั้งเด็กและผู้ใหญ่ <br>
      ขนาดสระว่ายน้ำ 25*50 เมตร มีครูฝึกประจำสระ<br>
      สิ่งอำนวยความสะดวก : ห้องอาบน้ำ ร้านอาหาร ห้องน้ำ<br>
      วัน เวลาที่เปิด : 8.00-21.00 น.
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="black"><b>อัตราค่าเข้าใช้บริการสระว่ายน้ำ</b></ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="font-size: 15px;">
      <b>ผู้ใช้ทั่วไป</b> อายุต่ำกว่า 18 ปี ใช้บริการครั้งละ 25 บาท <b>สมาชิก</b> 15 บาท<br>
      <b>ผู้ใช้ทั่วไป</b> อายุ 18 ปีขึ้นไป ใช้บริการครั้งละ 50 บาท <b>สมาชิก</b> 30 บาท
    </ion-card-content>
    <br>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="black"><b>ค่าสมัครสมาชิกสระว่ายน้ำ</b></ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="font-size: 15px;">
      <b>อายุต่ำกว่า 18 ปี</b>ทำการสมัครสมาชิกครั้งละ 200 บาท/ปี<br>
      <b>อายุ 18 ปีขึ้นไป</b>ทำการสมัครสมาชิกครั้งละ 400 บาท/ปี
    </ion-card-content>

  </ion-card>
</ion-content>