<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>แก้ไขสถานะสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [formControl]="searchControl"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-label>เลือกประเภทผู้ใช้</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="ประเภทผู้ใช้" [(ngModel)]="statusId" (ionChange)="getUserListByStatusId(statusId)">
        <ion-select-option value="2" selected>สมาชิก</ion-select-option>
        <ion-select-option value="3">ตัดสิทธิ์</ion-select-option>
        <ion-select-option value="4">หมดอายุ</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card (click)="presentActionSheet(item.su_id)" *ngFor="let item of userList">
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <h4>
            <ion-text color="dark">{{item.su_code}}</ion-text>
          </h4>
        </ion-col>
        <ion-col size="8">
          <p>
            <ion-text color="dark">{{item.pf_name}} {{item.ps_fname}} {{item.ps_lname}}</ion-text>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>