<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>เลือกประเภทผู้ใช้</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="ประเภทผู้ใช้">
        <ion-select-option value="genaral" selected>ผู้ใช้ทั่วไป</ion-select-option>
        <ion-select-option value="member">สมาชิก</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label slot="start">ช่วงอายุ</ion-label>
      <ion-label>ราคา</ion-label>
      <ion-label slot="end">สถานะ</ion-label>
    </ion-item>

  </ion-list> 

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>อายุ 0 ถึง 17 ปี
            </ion-row>
            <ion-row>อายุ 18 ถึง 99 ปี
            </ion-row>
          </ion-col>

          <ion-col size="4">
            <ion-row>200 บาท
            </ion-row>
            <ion-row>400 บาท</ion-row>
          </ion-col>

          <ion-col size="2" style="display: block; margin: auto;">
            <ion-toggle color="primary"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>