<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>เลือกประเภทผู้ใช้</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="ประเภทผู้ใช้"
        [(ngModel)]="option" (ionChange)="optionalCost()">
        <ion-select-option [selected] value="1">ผู้ใช้ทั่วไป</ion-select-option>
        <ion-select-option value="2">สมาชิก</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label slot="start">ช่วงอายุ</ion-label>
      <ion-label>ราคา</ion-label>
      <ion-label slot="end">สถานะ</ion-label>
    </ion-item>

  </ion-list>

  <ion-card *ngFor="let Data of displayData">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-content *ngFor="let item of Data">
              <ion-row>
                <ion-col size="7">
                  <ion-row>อายุ {{item.scp_age_min}} ถึง {{item.scp_age_max}} ปี</ion-row>
                </ion-col>
                <ion-col size="5">
                  <ion-row>{{item.scp_cost}} บาท</ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-col>
          <ion-col size="2" style="display: block; margin: auto;" *ngIf="Data[0].scp_is_active == 'Y'">
            <ion-toggle color="primary" checked (click)="updateIsActiveByReference(Data[0].scp_reference)">
            </ion-toggle>
          </ion-col>
          <ion-col size="2" style="display: block; margin: auto;" *ngIf="Data[0].scp_is_active == 'N'">
            <ion-toggle color="primary" (click)="updateIsActiveByReference(Data[0].scp_reference)"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>