<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>รายชื่อสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-white">
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      รหัสนิสิต : 60160330 <br>
      นายกัณณภัต เพียรแก้ว
    </ion-button>
  </ion-card>

  <ion-card class="bg-white">
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      รหัสนิสิต : 60160355 <br>
      นายอิอิ อิอิ
    </ion-button>
  </ion-card>
  
  <ion-card class="bg-white">
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      Modal 3
    </ion-button>
  </ion-card>
</ion-content>